---
layout: default
---
<div >
  <section class="posts">
    {% for post in site.posts limit:25 %}
    <div class="post_entry">
    <a href="{{ post.url }}" class="post-excerpt{% if post.photo_url %} photo{% endif %}">
       <div class="title">{{ post.title }}</div>
       {% if post.photo_url %}
        <div class="image" style="background-image:url('{{ post.photo_url }}')"></div>
      {% else %}
        <!-- <div class="title">{{ post.title }}</div> -->
        <info datetime="{{ page.date | date: "%Y-%m-%d" }}">
          {{ post.date | date: "%b %Y" }}
        </info>
        {% if post.description %}
        <span class="body">{{ post.description | strip_html }}</span>
        {% else %}
        <span class="body">{{ post.excerpt | strip_html }}</span>
        {% endif %}
      {% endif %}<!-- post.photo_url -->
     </a>
   </div>
    {% endfor %}
    
  </section>
</div>

<script type="text/javascript">

$( function() {
  
  $('.posts').isotope({
    itemSelector: '.post_entry',
    masonry: {
      columnWidth: 100
    }
  });

});
</script>